<html>

<head>
  <title>Depression Detection</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../static/css/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
  <!-- <link href="../static/css/style.css" rel="stylesheet" /> -->

  <style>
  .header-border {
    background-color: red;
    top: 55px;
    height: 7px;
    width: 100%;
  }

  @media (min-width: 992px) {
    .header-border {
      background-color: red;
      top: 55px;
      height: 7px;
      width: 100%;
    }
  }

  </style>


  <script>
    function toggleMenu() {
      const navbar = document.getElementById("Navbar");
      if (navbar.classList.contains("show")) {
        navbar.classList.remove("show");
      } else {
        navbar.classList.add("show");
      }
    }
  </script>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color: black">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>Depression Detection</b></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" onclick="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="ml-auto navbar-nav">
          &nbsp;
          <li class="nav-item ">
            <a class="nav-link" href="/logout"><span class="fa fa-sign-out fa-lg"></span> LogOut
            </a>
        </ul>
      </div>
    </nav>
    <div class="fixed-top header-border"></div>
    <center> <br><br><br><br><br><br><br><br>
      <!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-white"> -->
      <h1>
        Oops!</h1>
      <h2> 404 Not Found</h2>
      <div class="error-details">
        Sorry, an error has occured, the uploaded file is not in the specified format !
      </div><br><br><br>
      <div class="error-actions">
        <a href="/file_upload" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
          Take Me Home </a>
      </div>
      <!-- </div>
        </div>
    </div>
</div>    -->
    </center>
  </div>
</body>

</html>
