<html>

<head>
  <title>Depression Detection</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../static/css/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/select.css') }}" />
  <link href="../static/css/select.css" rel="stylesheet" />
  <style>
    .display-none {
      display: none;
    }
    .header-border {
      background-color: red;
      top: 55px;
      height: 7px;
      width: 100%;
    }

    @media (min-width: 992px) {
      body {
        background-image: url("https://c1.wallpaperflare.com/preview/804/778/325/sky-background-nature-blue.jpg");
      }
      .display-none {
        display: block;
      }
    }
  </style>
  <script>
    function toggleMenu() {
      const navbar = document.getElementById("Navbar");
      if (navbar.classList.contains("show")) {
        navbar.classList.remove("show");
      } else {
        navbar.classList.add("show");
      }
    }
  </script>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color: black">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>Depression Detection</b></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" onclick="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="ml-auto navbar-nav">
          &nbsp;
          <!---<li class="nav-item">
            <a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a>
          </li>--->
          <li class="nav-item active">
            <a class="nav-link" href="/select"><span class="fa fa-bars fa-lg"></span> Select
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><span class="fa fa-sign-out fa-lg"></span> LogOut</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="fixed-top header-border"></div>

    <br><br><br><br>
    <h1 align="center">Welcome to Depression Detection Application, {{user}} !</h1>
    <div class="row" style="margin-top: 5%">
      <div class="col-12 col-lg-6">
        <div class="simg display-none" style="margin-left:20%; bottom: 0px;">
          <!-- <img src="https://github.com/SarathMajji1699/ImagesUpload/blob/main/choice.png?raw=true" width="100%" height="100%" /> -->
          <img src="../static/images/choice.png" width="50%" height="70%" style="position: fixed; bottom: 0px;"/>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center" style="margin-top: 2%">
        <a type="button" class="btn btn-primary .text-secondary btn-lg" style="width:200px" href="/predict">Text</a><br><br>
        <a class="btn btn-dark btn-inline-danger btn-lg" style="width:200px" href="/file_upload">
          File Upload</a><br><br>
        <a class="btn btn-success btn-inline-danger btn-lg" style="width:200px" href="/twitter">Twitter Username</a><br><br>
        <a class="btn btn-secondary btn-inline-warning btn-lg" href="/image" style="width: 200px;">Image Upload</a><br><br>
        <a class="btn btn-info  btn-inline-warning  btn-lg" href="/feedback" style="width: 200px;">Chat with Us</a><br><br>
        <a class="btn btn-warning  btn-inline-warning  btn-lg" href="/changepass" style="width: 200px;">Change Password</a><br>

      </div>
    </div>

    <br>
  </div>
</body>
</html>
